.heading{
	text-align: center;
}
 html,body{
	font-family: "Poppins", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  
  background: hsl(0, 0%, 98%)
}
.container{
	display: flex;
	height: 100%;
	margin-top: 50px;


	
}

.container > div{
	background-color: white;
	border: 5px solid white;
	border-radius: 10px;
	height: 200px;
	margin: 10px;
	flex: 1 1 50%;


}
p{
	color:rgb(177 176 181);
	margin-bottom: 35px; 
}
img{
	margin-left: 140px;
	height: 30%;
}
@media all and (min-width: 375px){
	.container{
		flex-wrap: wrap;
	}

}
@media all and (min-width: 1440px){
	.container{
		flex-wrap: wrap;
	}

	}
}